.quadrants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; /* Adding gap between grid items */
    padding: 20px;
    justify-content: center; 
}

.quadrant1, .quadrant2, .quadrant3, .quadrant4 {
    background-size: cover;
    background-position: center;
    border: 1px solid #000; /* Consistent border styling */
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}

.linka {
    color: #fff;
    list-style: none;
    text-decoration: none;
}

/* Hover effect with full opacity */
.quadrant1:hover, .quadrant2:hover, .quadrant3:hover, .quadrant4:hover {
    opacity: 1;
}

.quadrant1 {
    background-image: url('photovoltaic-2138992_1280.jpg');
}
.quadrant2 {
    background-image: url('pexels-pixabay-414905.jpg');
}
.quadrant3 {
    background-image: url('Moneyyyyyy.jpg');
}
.quadrant4 {
    background-image: url('pexels-pixabay-159397.jpg');
}

@media (max-width: 768px) {
    .quadrants {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .quadrant1, .quadrant2, .quadrant3, .quadrant4 {
        min-height: 300px;
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .quadrants {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        padding: 10px;
    }
    .quadrant1, .quadrant2, .quadrant3, .quadrant4 {
        min-height: 200px;
        padding: 10px;
    }
}

.linka {
    color: #fff;
    list-style: none;
    text-decoration: none;
}
