.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(19, 79, 10);
    color: #ffffff;

}
/*  border: 4px solid rgb(0, 0, 0);
    box-sizing: border-box; I dont really think a border looks good Brooks*/
.logo {
    height: 3rem;
}

.link-item {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
}

.link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
}



.link-item:hover {
    transform: translateY(-5px); /* Adjust as needed */
}

.link-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.3s ease;
}

.link-item:hover::before {
    transform: scaleX(1);
}
