@import 'nav.css';
@import 'footer.css';
@import 'containers.css';
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font */
body {
    font-family: Arial, sans-serif;
}

/* Set a minimum height for the body and make it scrollable */
html, body {
    height: 100%;
    overflow: auto;
}

.wrapper {
    min-height: 100%;
    position: relative;
}


/* Hero Section */
.hero {
    position: relative;
    height: 90vh; 
    overflow: hidden;
}

video#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}

.slogan {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2rem;
    color: #ffffff;
}

.description {
    font-size: 3rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: #ffffff;
}


.additional-content {
    padding: 20px;
    background-color: #f0f0f0; 
    color: #000; 
}

.MissionHeader{
    text-align: center;
    border-color: black;
    color:green;
    border-style: solid;
}

.logof{
    width: 10%;
    height: 10%;
}